theme "gruvbox-dark"
default_layout "ai-work"

default_mode "normal"
pane_frames true
mouse_mode true
copy_command "pbcopy"
copy_clipboard "system"
copy_on_select true
keybinds {
    normal {
        bind "Ctrl a" { SwitchToMode "pane"; }
        bind "[" { SwitchToMode "scroll"; }
    }
    pane {
        bind "Ctrl a" { SwitchToMode "normal"; }
        bind "[" { SwitchToMode "scroll"; }
        bind "h" "Left" { MoveFocus "Left"; SwitchToMode "normal"; }
        bind "j" "Down" { MoveFocus "Down"; SwitchToMode "normal"; }
        bind "k" "Up" { MoveFocus "Up"; SwitchToMode "normal"; }
        bind "l" "Right" { MoveFocus "Right"; SwitchToMode "normal"; }
        bind "\\" { NewPane "Right"; SwitchToMode "normal"; }
        bind "-" { NewPane "Down"; SwitchToMode "normal"; }
        bind "c" { NewTab; SwitchToMode "normal"; }
        bind "z" { ToggleFocusFullscreen; SwitchToMode "normal"; }
        bind "x" { CloseFocus; SwitchToMode "normal"; }
        bind "," { GoToPreviousTab; SwitchToMode "normal"; }
        bind "." { GoToNextTab; SwitchToMode "normal"; }
        bind "d" { Detach; }
    }
    scroll {
        bind "Ctrl a" { SwitchToMode "pane"; }
        bind "Esc" { SwitchToMode "normal"; }
        bind "Ctrl c" { ScrollToBottom; SwitchToMode "normal"; }
        bind "j" "Down" { ScrollDown; }
        bind "k" "Up" { ScrollUp; }
        bind "h" "Left" { PageScrollUp; }
        bind "l" "Right" { PageScrollDown; }
        bind "Ctrl f" "PageDown" { PageScrollDown; }
        bind "Ctrl b" "PageUp" { PageScrollUp; }
        bind "d" { HalfPageScrollDown; }
        bind "u" { HalfPageScrollUp; }
        bind "y" { Copy; SwitchToMode "normal"; }
        bind "Alt c" { Copy; SwitchToMode "normal"; }
        bind "s" { SwitchToMode "EnterSearch"; SearchInput 0; }
    }
    search {
        bind "Ctrl s" { SwitchToMode "normal"; }
        bind "Ctrl c" { ScrollToBottom; SwitchToMode "normal"; }
        bind "j" "Down" { ScrollDown; }
        bind "k" "Up" { ScrollUp; }
        bind "h" "Left" { PageScrollUp; }
        bind "l" "Right" { PageScrollDown; }
        bind "Ctrl f" "PageDown" { PageScrollDown; }
        bind "Ctrl b" "PageUp" { PageScrollUp; }
        bind "d" { HalfPageScrollDown; }
        bind "u" { HalfPageScrollUp; }
        bind "n" { Search "down"; }
        bind "p" { Search "up"; }
        bind "c" { SearchToggleOption "CaseSensitivity"; }
        bind "w" { SearchToggleOption "Wrap"; }
        bind "o" { SearchToggleOption "WholeWord"; }
    }
    entersearch {
        bind "Ctrl s" { SwitchToMode "normal"; }
        bind "Ctrl c" { ScrollToBottom; SwitchToMode "normal"; }
        bind "Enter" { SwitchToMode "Search"; }
    }
}

themes {
    gruvbox-dark {
        text_unselected {
            base "#FBF1C7"
            background "#3C3836"
            emphasis_0 "#D65D0E"
            emphasis_1 "#689D6A"
            emphasis_2 "#98971A"
            emphasis_3 "#B16286"
        }
        text_selected {
            base "#FBF1C7"
            background "#504945"
            emphasis_0 "#D65D0E"
            emphasis_1 "#689D6A"
            emphasis_2 "#98971A"
            emphasis_3 "#B16286"
        }
        ribbon_selected {
            base "#3C3836"
            background "#98971A"
            emphasis_0 "#CC241D"
            emphasis_1 "#D65D0E"
            emphasis_2 "#B16286"
            emphasis_3 "#458588"
        }
        ribbon_unselected {
            base "#3C3836"
            background "#EBDBB2"
            emphasis_0 "#CC241D"
            emphasis_1 "#FBF1C7"
            emphasis_2 "#458588"
            emphasis_3 "#B16286"
        }
        table_title {
            base "#98971A"
            background "#000000"
            emphasis_0 "#D65D0E"
            emphasis_1 "#689D6A"
            emphasis_2 "#98971A"
            emphasis_3 "#B16286"
        }
        table_cell_selected {
            base "#FBF1C7"
            background "#504945"
            emphasis_0 "#D65D0E"
            emphasis_1 "#689D6A"
            emphasis_2 "#98971A"
            emphasis_3 "#B16286"
        }
        table_cell_unselected {
            base "#FBF1C7"
            background "#3C3836"
            emphasis_0 "#D65D0E"
            emphasis_1 "#689D6A"
            emphasis_2 "#98971A"
            emphasis_3 "#B16286"
        }
        list_selected {
            base "#FBF1C7"
            background "#504945"
            emphasis_0 "#D65D0E"
            emphasis_1 "#689D6A"
            emphasis_2 "#98971A"
            emphasis_3 "#B16286"
        }
        list_unselected {
            base "#FBF1C7"
            background "#3C3836"
            emphasis_0 "#D65D0E"
            emphasis_1 "#689D6A"
            emphasis_2 "#98971A"
            emphasis_3 "#B16286"
        }
        frame_selected {
            base "#665C54"
            background "#000000"
            emphasis_0 "#D65D0E"
            emphasis_1 "#689D6A"
            emphasis_2 "#B16286"
            emphasis_3 "#000000"
        }
        frame_highlight {
            base "#D65D0E"
            background "#000000"
            emphasis_0 "#B16286"
            emphasis_1 "#D65D0E"
            emphasis_2 "#D65D0E"
            emphasis_3 "#D65D0E"
        }
        frame_unselected {
            base "#3C3836"
            background "#000000"
            emphasis_0 "#D65D0E"
            emphasis_1 "#689D6A"
            emphasis_2 "#B16286"
            emphasis_3 "#000000"
        }
        exit_code_success {
            base "#98971A"
            background "#000000"
            emphasis_0 "#689D6A"
            emphasis_1 "#3C3836"
            emphasis_2 "#B16286"
            emphasis_3 "#458588"
        }
        exit_code_error {
            base "#CC241D"
            background "#000000"
            emphasis_0 "#D79921"
            emphasis_1 "#000000"
            emphasis_2 "#000000"
            emphasis_3 "#000000"
        }
        multiplayer_user_colors {
            player_1 "#B16286"
            player_2 "#458588"
            player_3 "#000000"
            player_4 "#D79921"
            player_5 "#689D6A"
            player_6 "#000000"
            player_7 "#CC241D"
            player_8 "#000000"
            player_9 "#000000"
            player_10 "#000000"
        }
    }
}
